@model PasswordChangeViewModel
<h2>Change Password</h2>

@{
    string userId = null;
    foreach (var claim in User.Claims)
    {
        if (claim.Type == "sub")
        {
            userId = claim.Value;
        }
    }
}
<div class="row">
    <div class="col-md-6">
        <form asp-action="PasswordChange" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <input hidden asp-for="UserId" value="@userId"/>
            <div class="form-group">
                <label asp-for="CurrentPassword" class="control-label"></label>
                <input asp-for="CurrentPassword" class="form-control" />
                <span asp-validation-for="CurrentPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NewPassword" class="control-label"></label>
                <input asp-for="NewPassword" class="form-control" />
                <span asp-validation-for="NewPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConfirmPassword" class="control-label"></label>
                <input asp-for="ConfirmPassword" class="form-control" />
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary">Change Password</button>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
